.drawing {
    overflow: hidden;
    position: relative;
}
.drag-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: white;
    opacity: 0;
    transition: 200ms;
    pointer-events: none;
}
.drag-overlay h2{
    color: black;
    font-weight: 400;
    font-size: 3rem;
    transition: 300ms;
    transform: translateY(1rem) scale(1);
}

[data-dragover=true] .drag-overlay{
    opacity: 1;
}
[data-dragover=true] .drag-overlay h2{
    transform: translateY(0) scale(1)
}
.grid {
    position: absolute;
    z-index: -100;
    left: 0;
    top: 0;
}

.grid polygon {
    stroke: var(--grid-color);
    stroke-width: .5px;
}

path, polygon {
    fill: none;
    stroke: none;
    stroke-width: 2px;
}

polygon.result {
    stroke: black;
    /* fill: black; */
}

.hidden {
    display: none;
}
.workDrawing {
    display: none;
}

.outputDrawing {
}

.input {
    /* stroke: grey; */
}